*.DS_Store
/.CFUserTextEncoding
/.Trash
/.account
/.bash_history
/.bazaar
/.bi_li3
/.bugs_everywhere
/.bundle
/.bzr.log
/.cache
/.certs
/.cups
/.dropbox
/.dvdcss
/.ec2
/.emacs-places
/.emacs.bak
/.emacs.d
/.erlang.cookie
/.eshell
/.fontconfig
/.fonts
/.freemind
/.gdb_history
/.gem
/.gnupg
/.god
/.heroku
/.hg.cvsps
/.hgk
/.history
/.hoe_template
/.hudson
/.ipython
/.irb-history
/.irb_history
/.lesshst
/.localized
/.macports
/.mysql_history
/.netrc
/.npm
/.offlineimap
/.pip
/.psql_history
/.pypirc
/.python-eggs
/.rbx
/.rnd
/.rubinius_last_error
/.rvm
/.sh_history
/.sqlite_history
/.ssh
/.ssl
/.subversion
/.toot
/.tox
/.vim
/.vim-tmp
/.vim/.netrwhist
/.vim-fuf-data
/.vimfuzzyfinder
/.viminfo
/.vimprojects
/.vimrc.backup
/.vimrc.old
/.viper
/.wireshark
/.wireshark-etc
/.zcompdump
/.Xauthority
/Desktop
/Documents
/Downloads
/Dropbox
/Movies
/Music
/Pictures
/Public

*.elc
*~
*.orig
*.rej
*.pyc
.vim/undodir/*
!.vim/undodir/.gitkeep
.vim/.netrwhist
.netrwhist
Session.vim
.dotfiles/Session.vim
.mutt/
.kainlite
.passwd.gpg
