*.DS_Store
/.CFUserTextEncoding
/.account
/.bash_history
/.bazaar
/.bi_li3
/.bzr.log
/.cache
/.certs
/.cups
/.dropbox
/.dvdcss
/.ec2
/.eshell
/.gnupg
/.hg.cvsps
/.history
/.lesshst
/.netrc
/.npm
/.ssh
/.vim-tmp
/.vim/.netrwhist
/.vim-fuf-data
/.vimfuzzyfinder
/.viminfo
/.vimprojects
/.zcompdump
/.Xauthority

*.elc
*~
*.orig
*.rej
*.pyc
.vim/undodir/*
!.vim/undodir/.gitkeep
.vim/.netrwhist
.vim/plugged
.vim/plugged/*
.netrwhist
Session.vim
.dotfiles/Session.vim
.mutt/
.kainlite
.passwd.gpg
.nvim/.luarc.json
.git
