[submodule ".oh-my-zsh"]
  path = .oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".tpm"]
  path = .tpm
  url = https://github.com/tmux-plugins/tpm
[submodule ".tfenv"]
  path = .tfenv
  url = https://github.com/tfutils/tfenv
[submodule ".starship"]
  path = .starship
  url = https://github.com/starship/starship
